actuator/data/flows.json
[
    {
        "id": "24e0482f1e78eedf",
        "type": "tab",
        "label": "Actuator control-loop",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "ROOM_ID",
                "value": "1",
                "type": "num"
            }
        ]
    },
    {
        "id": "5ea8b82df2a9dede",
        "type": "subflow",
        "name": "Filter out other room topics",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 20,
                "y": 80,
                "wires": [
                    {
                        "id": "70cad760f42fc24e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 380,
                "y": 80,
                "wires": [
                    {
                        "id": "70cad760f42fc24e",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "ebd16bd11c4c0e21",
        "type": "mqtt-broker",
        "name": "Building broker",
        "broker": "${SBAN_BUILDING_HOST}",
        "port": "",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "70cad760f42fc24e",
        "type": "switch",
        "z": "5ea8b82df2a9dede",
        "name": "Filter out",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "regex",
                "v": "^room/${ROOM_ID}/",
                "vt": "env",
                "case": true
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "a011b2ec9da3757f",
        "type": "mqtt in",
        "z": "24e0482f1e78eedf",
        "name": "",
        "topic": "room/+/sensor/+/measure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ebd16bd11c4c0e21",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 300,
        "wires": [
            [
                "f4920638812117c4"
            ]
        ]
    },
    {
        "id": "3d5d810b09e90f10",
        "type": "function",
        "z": "24e0482f1e78eedf",
        "name": "Process humidity and temperature",
        "func": "/** @type {{ humidity: number, temperature: number }[]} */\nconst measures = msg.payload;\nconst humidities = measures.map(cur => cur.humidity).filter(e => e != null);\nconst temperatures = measures.map(cur => cur.temperature).filter(e => e != null);\n\nconst hvac = context.get('hvac');\nconst ranges = context.get('ranges');\n\nif (temperatures.length > 0) {\n    const temperature = sum(temperatures) / temperatures.length;\n    hvac.heating = Math.max(ranges.temperature_min - temperature, 0);\n    hvac.cooling = Math.max(temperature - ranges.temperature_max, 0);\n}\nif(humidities.length > 0) {\n    const humidity = sum(humidities) / humidities.length;\n    hvac.ventilation = Math.max(humidity - ranges.humidity_max, 0);\n}\n\ncontext.set('hvac', hvac);\n\nmsg.payload = hvac;\nmsg.topic = `room/${env.get('ROOM_ID')}/hvac`;\nreturn msg;\n\nfunction sum(values) {\n    return values.reduce((acc, cur) => acc + cur, 0);\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "context.set('hvac', {\n    heating: 0,\n    ventilation: 0,\n    cooling: 0,\n});\ncontext.set('ranges', {\n    humidity_max: 50,\n    temperature_min: 19,\n    temperature_max: 25,\n});\n",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 420,
        "wires": [
            [
                "6889aa78dbcb54fe",
                "7d0763a4d217ba8b"
            ]
        ]
    },
    {
        "id": "6889aa78dbcb54fe",
        "type": "mqtt out",
        "z": "24e0482f1e78eedf",
        "name": "room/${ROOM_ID}/hvac",
        "topic": "",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ebd16bd11c4c0e21",
        "x": 1170,
        "y": 420,
        "wires": []
    },
    {
        "id": "ae56f555fb38db06",
        "type": "inject",
        "z": "24e0482f1e78eedf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "room/${ROOM_ID}/sensor/1/measure",
                "vt": "env"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"humidity\":55,\"temperature\":22}",
        "payloadType": "json",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "7dd1598d351354cf"
            ]
        ]
    },
    {
        "id": "9e80bd9838be8eb0",
        "type": "mqtt in",
        "z": "24e0482f1e78eedf",
        "name": "",
        "topic": "room/+/hvac",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ebd16bd11c4c0e21",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 770,
        "y": 40,
        "wires": [
            [
                "e32db9aec9b59487"
            ]
        ]
    },
    {
        "id": "893b6fd18d8f1347",
        "type": "debug",
        "z": "24e0482f1e78eedf",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 160,
        "wires": []
    },
    {
        "id": "7dd1598d351354cf",
        "type": "mqtt out",
        "z": "24e0482f1e78eedf",
        "name": "room/${ROOM_ID}/sensor/1/measure",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ebd16bd11c4c0e21",
        "x": 490,
        "y": 120,
        "wires": []
    },
    {
        "id": "1c68d988cfdf5243",
        "type": "join",
        "z": "24e0482f1e78eedf",
        "name": "5 seconds slice",
        "mode": "custom",
        "build": "array",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "5",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 620,
        "y": 460,
        "wires": [
            [
                "3d5d810b09e90f10"
            ]
        ]
    },
    {
        "id": "ef9bf467639a0e16",
        "type": "debug",
        "z": "24e0482f1e78eedf",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "f4920638812117c4",
        "type": "subflow:5ea8b82df2a9dede",
        "z": "24e0482f1e78eedf",
        "name": "",
        "x": 400,
        "y": 400,
        "wires": [
            [
                "1c68d988cfdf5243",
                "ef9bf467639a0e16"
            ]
        ]
    },
    {
        "id": "e32db9aec9b59487",
        "type": "subflow:5ea8b82df2a9dede",
        "z": "24e0482f1e78eedf",
        "name": "",
        "x": 1000,
        "y": 100,
        "wires": [
            [
                "893b6fd18d8f1347"
            ]
        ]
    },
    {
        "id": "7d0763a4d217ba8b",
        "type": "debug",
        "z": "24e0482f1e78eedf",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 280,
        "wires": []
    }
]