building/data/flows.json
[
    {
        "id": "a379f22ef37c9324",
        "type": "tab",
        "label": "Building flow",
        "disabled": false,
        "info": "",
        "env": [
            {
                "name": "BROKER_IP",
                "value": "0.0.0.0",
                "type": "str"
            },
            {
                "name": "BROKER_PORT",
                "value": "1883",
                "type": "num"
            }
        ]
    },
    {
        "id": "0f265edf35b211bf",
        "type": "mqtt-broker",
        "name": "Local broker",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a72406f39cffe1ba",
        "type": "debug",
        "z": "a379f22ef37c9324",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 580,
        "wires": []
    },
    {
        "id": "22df7f3a4c87a8fc",
        "type": "inject",
        "z": "a379f22ef37c9324",
        "name": "1 hour rate",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "0",
        "topic": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "2b3578a00bc4bd65"
            ]
        ]
    },
    {
        "id": "fb2f201559625bb9",
        "type": "function",
        "z": "a379f22ef37c9324",
        "name": "Cache API result",
        "func": "if (msg.payload) {\n    global.set('apiResult', msg.payload);\n} else {\n    msg.payload = global.get('apiResult');\n}\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 220,
        "wires": [
            [
                "889bea52caffebdc",
                "ebd26065844573b3"
            ]
        ]
    },
    {
        "id": "5ba6d8e2c458d019",
        "type": "inject",
        "z": "a379f22ef37c9324",
        "name": "5s rate",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "fb2f201559625bb9"
            ]
        ]
    },
    {
        "id": "ae9286d9daf968a4",
        "type": "inject",
        "z": "a379f22ef37c9324",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 340,
        "y": 580,
        "wires": [
            [
                "c143bfc1078291b8"
            ]
        ]
    },
    {
        "id": "889bea52caffebdc",
        "type": "debug",
        "z": "a379f22ef37c9324",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 100,
        "wires": []
    },
    {
        "id": "ebd26065844573b3",
        "type": "mqtt out",
        "z": "a379f22ef37c9324",
        "name": "",
        "topic": "area/${SBAN_AREA}/building/${SBAN_BUILDING}/openweather",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "0f265edf35b211bf",
        "x": 950,
        "y": 220,
        "wires": []
    },
    {
        "id": "2b3578a00bc4bd65",
        "type": "openweathermap",
        "z": "a379f22ef37c9324",
        "name": "Milan 5 day forecast",
        "wtype": "current",
        "lon": "",
        "lat": "",
        "city": "${SBAN_FAKE_LOCATION_CITY}",
        "country": "${SBAN_FAKE_LOCATION_COUNTRY}",
        "language": "en",
        "x": 360,
        "y": 80,
        "wires": [
            [
                "fb2f201559625bb9"
            ]
        ]
    },
    {
        "id": "c143bfc1078291b8",
        "type": "uibuilder",
        "z": "a379f22ef37c9324",
        "name": "",
        "topic": "",
        "url": "building-dashboard",
        "fwdInMessages": false,
        "allowScripts": false,
        "allowStyles": false,
        "copyIndex": true,
        "templateFolder": "blank",
        "extTemplate": "",
        "showfolder": false,
        "reload": false,
        "sourceFolder": "src",
        "deployedVersion": "5.1.1",
        "x": 620,
        "y": 580,
        "wires": [
            [
                "a72406f39cffe1ba"
            ],
            []
        ]
    }
]